## Projecting Data

Let us understand different aspects of projecting data. We primarily using `SELECT` to project the data.

In [15]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/8BBzd60hYFc?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* We can project all columns using `*` or some columns using column names.
* We can provide aliases to a column or expression using `AS` in `SELECT` clause.
* `DISTINCT` can be used to get the distinct records from selected columns. We can also use `DISTINCT *` to get unique records using all the columns.
* As of now **Spark SQL** does not support projecting all but one or few columns. It is supported in Hive. Following will work in hive and it will project all the columns from orders except for order_id.

```
SET hive.support.quoted.identifiers=none;
SELECT `(order_id)?+.+` FROM orders;
```

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

DESCRIBE orders

In [ ]:
%%sql

SELECT order_customer_id, order_date, order_status FROM orders LIMIT 10

In [ ]:
%%sql

SELECT order_customer_id, date_format(order_date, 'yyyy-MM'), order_status FROM orders LIMIT 10

In [ ]:
%%sql

SELECT order_customer_id, 
    date_format(order_date, 'yyyy-MM') AS order_month, 
    order_status 
FROM orders LIMIT 10

In [ ]:
%%sql

SELECT DISTINCT order_status FROM orders

In [ ]:
%%sql

SELECT DISTINCT * FROM orders LIMIT 10

* Using Spark SQL with Python or Scala

In [ ]:
spark.sql("SELECT * FROM orders").show()

In [ ]:
spark.sql("DESCRIBE orders").show()

In [ ]:
spark.sql("SELECT order_customer_id, order_date, order_status FROM orders").show()

In [ ]:
spark.sql("""
SELECT order_customer_id, 
    date_format(order_date, 'yyyy-MM'), 
    order_status 
FROM orders""").show()

In [ ]:
spark.sql("""
SELECT order_customer_id, 
    date_format(order_date, 'yyyy-MM') AS order_month, 
    order_status 
FROM orders
""").show()

In [ ]:
spark.sql("SELECT DISTINCT order_status FROM orders").show()

In [ ]:
spark.sql("SELECT DISTINCT * FROM orders").show()