## Creating Partitioned Tables

Let us understand how to create partitioned table and get data into that table.

In [6]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/BSs1ToOfq40?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* Earlier we have already created orders table. We will use that as reference and create partitioned table.
* We can use `PARTITIONED BY` clause to define the **column along with data type**. In our case we will use **order_month as partition column**.
* We will not be able to directly load the data into the partitioned table using our original orders data (as data is not in sync with structure).

Here is the example of creating partitioned tables in Spark Metastore.

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

SHOW tables

* Drop orders_part if it already exists

In [ ]:
%%sql

DROP TABLE IF EXISTS orders_part

In [ ]:
%%sql

CREATE TABLE orders_part (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) PARTITIONED BY (order_month INT)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','

In [ ]:
%%sql

DESCRIBE orders_part

In [ ]:
spark.sql("DESCRIBE FORMATTED orders_part").show(200, false)

In [ ]:
import sys.process._

s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders_part" !