## Using Dynamic Partition Mode

Let us understand how we can insert data into partitioned table using dynamic partition mode.

In [10]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/9eYd6A6A1ZA?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* Using dynamic partition mode we need not pre create the partitions. Partitions will be automatically created when we issue INSERT command in dynamic partition mode.
* To insert data using dynamic partition mode, we need to set the property `hive.exec.dynamic.partition` to **true**
* Also we need to set `hive.exec.dynamic.partition.mode` to **nonstrict**

Here is the example of inserting data into partitions using dynamic partition mode.

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

SHOW tables

In [ ]:
%%sql

SELECT count(1) FROM orders

In [ ]:
%%sql

SELECT count(1) FROM orders_part

In [ ]:
%%sql

SET hive.exec.dynamic.partition

In [ ]:
%%sql

SET hive.exec.dynamic.partition.mode

In [ ]:
%%sql

SET hive.exec.dynamic.partition=true

In [ ]:
%%sql

SET hive.exec.dynamic.partition.mode=nonstrict

In [ ]:
%%sql

INSERT INTO TABLE orders_part PARTITION (order_month)
SELECT o.*, date_format(order_date, 'yyyyMM') order_month
FROM orders o
WHERE order_date >= '2013-12-01 00:00:00.0'

In [ ]:
import sys.process._

s"hdfs dfs -ls -R /user/${username}/warehouse/${username}_retail.db/orders_part" !

In [ ]:
%%sql

SELECT count(1) FROM orders

In [ ]:
%%sql

SELECT count(1) FROM orders_part

* You will see new partitions created starting from 201312 to 201407.