## Validating Functions
Let us see how we can validate Spark SQL functions.

In [ ]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/EgQpOKpljBM?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [ ]:
val username = System.getProperty("user.name")

In [ ]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Predefined Functions").
    master("yarn").
    getOrCreate

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* Spark SQL follows MySQL style. To validate functions we can just use SELECT clause - e. g.: `SELECT current_date;`
* Another example - `SELECT substr('Hello World', 1, 5);`
* If you want to use Oracle style, you can create table by name dual and insert one record.
* You can also create temporary view on top of dataframe and start writing SQL Queries. We will see an example with Scala based approach. Here are the code snippets using both Scala as well as Pyspark.

**Using Scala**
```
val orders = spark.read.
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING").
    csv("/public/retail_db/orders")
orders.createOrReplaceTempView("orders_temp")
```

**Using Python**
```
orders = spark.read. \
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING"). \
    csv("/public/retail_db/orders")
orders.createOrReplaceTempView("orders_temp")
```

In [ ]:
%%sql

SELECT current_date AS current_date

In [ ]:
%%sql

SELECT substr('Hello World', 1, 5) AS result

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

SELECT current_database()

In [ ]:
%%sql

DROP TABLE IF EXISTS dual

In [ ]:
%%sql

CREATE TABLE dual (dummy STRING)

In [ ]:
%%sql

INSERT INTO dual VALUES ('X')

In [ ]:
%%sql

SELECT current_date AS current_date FROM dual

In [ ]:
%%sql

SELECT substr('Hello World', 1, 5) AS result FROM dual

* Here is how you can validate functions using Data Frame.
  * Create Data Frame
  * Create temporary view using Data Frame
  * Run queries using view with relevant functions

In [ ]:
val orders = spark.read.
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING").
    csv("/public/retail_db/orders")

In [ ]:
orders.createOrReplaceTempView("orders_temp")

In [ ]:
%%sql

SELECT o.*, lower(order_status) AS order_status_lower FROM orders_temp AS o LIMIT 10