## Overview of Sub Queries

Let us recap about Sub Queries.

In [9]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/6AOlttTRG48?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* We typically have Sub Queries in **FROM** Clause.
* We need not provide alias to the Sub Queries in **FROM** Clause in Spark SQL. In earlier versions, you might have to provide alias for the Sub Query.
* We use Sub Queries quite often over queries using Analytics/Windowing Functions

In [ ]:
%%sql

SELECT * FROM (SELECT current_date)

In [ ]:
%%sql

SELECT * FROM (SELECT current_date) AS q

Let us see few more examples with respect to Sub Queries.

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

SELECT * FROM (
    SELECT order_date, count(1) AS order_count
    FROM orders
    GROUP BY order_date
) q
LIMIT 10

```{note}
Here is an example of how we can filter based up on the derived columns using sub query. However, this can be achieved with direct query as well using `HAVING`. 
```

In [ ]:
%%sql

SELECT * FROM (
    SELECT order_date, count(1) AS order_count
    FROM orders
    GROUP BY order_date
) q
WHERE q.order_count > 10

In [ ]:
%%sql

SELECT order_date, count(1) AS order_count
FROM orders
GROUP BY order_date
    HAVING count(1) > 10