## Data Type Conversion

Let us understand how we can type cast to change the data type of extracted value to its original type.

In [7]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/nZo9rv2IAiM?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

In [ ]:
%%sql

SELECT current_date AS current_date

In [ ]:
%%sql

SELECT split(current_date, '-')[1] AS month

In [ ]:
%%sql

SELECT cast(split(current_date, '-')[1] AS INT) AS month

In [ ]:
%%sql

SELECT cast('0.04' AS FLOAT) AS result

In [ ]:
%%sql

SELECT cast('0.04' AS INT) AS zero

In [ ]:
%%sql

SELECT cast('xyz' AS INT) AS returns_null

In [ ]:
%%sql

CREATE EXTERNAL TABLE IF NOT EXISTS orders_single_column (
    s STRING
) LOCATION '/user/itversity/warehouse/itversity_retail.db/orders'

In [ ]:
%%sql

SELECT * FROM orders_single_column LIMIT 10

In [ ]:
%%sql

SELECT split(s, ',')[0] AS order_id,
    split(s, ',')[1] AS order_date,
    split(s, ',')[2] AS order_customer_id,
    split(s, ',')[3] AS order_status
FROM orders_single_column LIMIT 10

In [ ]:
%%sql

SELECT cast(split(s, ',')[0] AS INT) AS order_id,
    cast(split(s, ',')[1] AS TIMESTAMP) AS order_date,
    cast(split(s, ',')[2] AS INT) AS order_customer_id,
    cast(split(s, ',')[3] AS STRING) AS order_status
FROM orders_single_column LIMIT 10