## Query Example - Word Count

Let us see how we can perform word count using Spark SQL. Using word count as an example we will understand how we can come up with the solution using pre-defined functions available.

In [ ]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/3nqpQzLVh80?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* Create table by name lines.
* Insert data into the table.
* Split lines into array of words.
* Explode array of words from each line into individual records.
* Use group by and get the count. We cannot use `GROUP BY` directly on exploded records and hence we need to use nested sub query.

In [ ]:
%%sql

DROP DATABASE IF EXISTS itversity_demo CASCADE

In [ ]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_demo

In [ ]:
%%sql

USE itversity_demo

In [ ]:
%%sql

CREATE TABLE lines (s STRING)

In [ ]:
%%sql

INSERT INTO lines VALUES
  ('Hello World'),
  ('How are you'),
  ('Let us perform the word count'),
  ('The definition of word count is'),
  ('to get the count of each word from this data')

In [ ]:
%%sql

SELECT * FROM lines

In [ ]:
%%sql

SELECT split(s, ' ') AS word_array FROM lines

In [ ]:
spark.sql("SHOW functions").show(300, false)

In [ ]:
%%sql

SELECT explode(split(s, ' ')) AS words FROM lines

In [ ]:
%%sql

SELECT count(1) FROM (SELECT explode(split(s, ' ')) AS words FROM lines)

In [ ]:
%%sql

SELECT explode(split(s, ' ')) AS words, count(1) FROM lines
GROUP BY explode(split(s, ' '))

In [ ]:
%%sql

SELECT word, count(1) FROM (
  SELECT explode(split(s, ' ')) AS word FROM lines
) q
GROUP BY word

In [ ]:
%%sql

SELECT count(1) FROM
(
    SELECT word, count(1) FROM (
        SELECT explode(split(s, ' ')) AS word FROM lines
    ) q
    GROUP BY word
)