## Adding Comments

Let us understand how to create table with comments in Hive using orders as example.

In [4]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/4aZ8RIMMkUk?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* We can specify comments for both columns as well as tables using COMMENT keyword.

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

DROP TABLE IF EXISTS orders

In [ ]:
%%sql

CREATE TABLE orders (
  order_id INT COMMENT 'Unique order id',
  order_date STRING COMMENT 'Date on which order is placed',
  order_customer_id INT COMMENT 'Customer id who placed the order',
  order_status STRING COMMENT 'Current status of the order'
) COMMENT 'Table to save order level details'

* Using Spark SQL with Python or Scala

In [ ]:
spark.sql("USE itversity_retail")

In [ ]:
spark.sql("DROP TABLE orders")

In [ ]:
spark.sql("""
CREATE TABLE orders (
  order_id STRING COMMENT 'Unique order id',
  order_date STRING COMMENT 'Date on which order is placed',
  order_customer_id INT COMMENT 'Customer id who placed the order',
  order_status STRING COMMENT 'Current status of the order'
) COMMENT 'Table to save order level details'
""")

* Default field delimiter is \001 character.
* We can see the comments using `DESCRIBE orders` or `DESCRIBE FORMATTED orders`.

In [ ]:
%%sql

DESCRIBE orders

In [ ]:
%%sql

DESCRIBE FORMATTED orders

In [ ]:
spark.sql("DESCRIBE FORMATTED orders").show(200, false) // Scala