## Dropping Tables and Databases

Let us understand how to DROP Spark Metastore Tables as well as Databases.

In [11]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/3ZFkdGkTEiM?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* We can use **DROP TABLE** command to drop the table.. Let us drop orders table

In [ ]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_retail

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

SHOW tables

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','

In [ ]:
%%sql

DROP TABLE orders

In [ ]:
%%sql

DROP TABLE IF EXISTS orders

* **DROP TABLE** on managed table will delete both metadata in metastore as well as data in HDFS, while **DROP TABLE** on external table will only delete metadata in metastore.
* We can drop database by using **DROP DATABASE** Command. However we need to drop all the tables in the database first.
* Here is the example to drop the database itversity_retail - `DROP DATABASE itversity_retail`
* We can also drop all the tables and databases by adding **CASCADE**.

In [ ]:
%%sql

DROP DATABASE itversity_retail

In [ ]:
%%sql

DROP DATABASE IF EXISTS itversity_retail CASCADE