## Overview of Data Types

Let us get an overview of Data Types.

In [3]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/i0QPCVGR_nk?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [ ]:
val username = System.getProperty("user.name")

In [ ]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* Syntactically Hive and Spark SQL are almost same.
* Go to this [hive page](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL) and review supported data types.
* Spark Metastore supports all standard data types.
  * Numeric - INT, BIGINT, FLOAT etc
  * Alpha Numeric or String - CHAR, VARCHAR, STRING
  * Date and Timestamp - DATE, TIMESTAMP
  * Special Data Types - ARRAY, STRUCT etc
  * Boolean - BOOLEAN
* If the file format is text file with special types, then we need to consider other clauses under DELIMITED ROW FORMAT (if we don't want to use default delimiters).

In [ ]:
%%sql

DROP DATABASE IF EXISTS itversity_sms CASCADE

In [ ]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_sms

In [ ]:
%%sql

USE itversity_sms

In [ ]:
%%sql

CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
) STORED AS TEXTFILE
ROW FORMAT
    DELIMITED FIELDS TERMINATED BY '\t'
    COLLECTION ITEMS TERMINATED BY ','

In [ ]:
%%sql

DESCRIBE students

In [ ]:
%%sql

INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)

In [ ]:
%%sql

SELECT * FROM students

In [ ]:
%%sql

INSERT INTO students VALUES (2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'), NULL)

In [ ]:
%%sql

SELECT * FROM students

In [ ]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))

In [ ]:
%%sql

SELECT * FROM students

In [ ]:
val username = System.getProperty("user.name")

In [ ]:
import sys.process._
s"hdfs dfs -ls /user/${username}/warehouse/${username}_sms.db/students"!

In [ ]:
s"hdfs dfs -cat /user/${username}/warehouse/${username}_sms.db/students/*"!

* Using Spark SQL with Python or Scala

In [ ]:
spark.sql("DROP DATABASE IF EXISTS itversity_sms CASCADE")

In [ ]:
spark.sql("CREATE DATABASE IF NOT EXISTS itversity_sms")

In [ ]:
spark.sql("USE itversity_sms")

In [ ]:
spark.sql("DROP TABLE IF EXISTS students")

In [ ]:
spark.sql("""
CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
) STORED AS TEXTFILE
ROW FORMAT
    DELIMITED FIELDS TERMINATED BY '\t'
    COLLECTION ITEMS TERMINATED BY ','
    MAP KEYS TERMINATED BY ':'
""")

In [ ]:
spark.sql("INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)")

In [ ]:
spark.sql("INSERT INTO students VALUES (2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'), NULL)")

In [ ]:
spark.sql("""
INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))
""")

In [ ]:
spark.sql("SELECT * FROM students")