## Truncating Tables

Let us understand how to truncate tables.

In [12]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZUk228BZj4w?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [ ]:
val username = System.getProperty("user.name")

In [ ]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* **TRUNCATE** works only for managed tables. Only data will be deleted, structure will be retained.
* Launch Spark SQL

In [ ]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_retail

In [ ]:
%%sql

SHOW tables

In [ ]:
%%sql

DROP TABLE IF EXISTS orders

In [ ]:
%%sql

CREATE TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders'
  INTO TABLE orders

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

TRUNCATE TABLE orders

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

DROP TABLE IF EXISTS orders

In [ ]:
%%sql

CREATE EXTERNAL TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/user/itversity/external/retail_db/orders'

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders'
  OVERWRITE INTO TABLE orders

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

TRUNCATE TABLE orders