## Loading Data - Append and Overwrite
Let us understand different approaches to load the data into Spark Metastore table.

In [7]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/dL4tSw-WGns?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* `INTO TABLE` will append in the existing table
* If we want to overwrite we have to specify `OVERWRITE INTO TABLE`

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

SELECT count(1) FROM orders

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  INTO TABLE orders

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
%%sql

SELECT count(1) FROM orders

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  OVERWRITE INTO TABLE orders

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
%%sql

SELECT count(1) FROM orders

* Using Spark SQL with Python or Scala

In [ ]:
spark.sql("USE itversity_retail")

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("""
LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  INTO TABLE orders
""")

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()

In [ ]:
spark.sql("""
LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  OVERWRITE INTO TABLE orders
""")

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()