## Managed Tables vs. External Tables

Let us compare and contrast between Managed Tables and External Tables.

In [9]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/SUWyUWrHkKE?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

* When we say EXTERNAL and specify LOCATION or LOCATION alone as part of CREATE TABLE, it makes the table EXTERNAL.
* Rest of the syntax is same as Managed Table.
* However, when we drop **Managed Table**, it will delete metadata from metastore as well as data from HDFS.
* When we drop **External Table**, only metadata will be dropped, not the data.
* Typically we use **External Table** when same dataset is processed by multiple frameworks such as Hive, Pig, Spark etc.
* We cannot run **TRUNCATE TABLE** command against External Tables.

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

SHOW tables

In [ ]:
spark.sql("DESCRIBE FORMATTED orders").show(200, false)

In [ ]:
%%sql

TRUNCATE TABLE orders

In [ ]:
spark.sql("DESCRIBE FORMATTED order_items").show(200, false)

In [ ]:
%%sql

TRUNCATE TABLE order_items

In [ ]:
%%sql

DROP TABLE orders

In [ ]:
%%sql

DROP TABLE order_items

In [ ]:
import sys.process._

s"hdfs dfs -ls /user/${username}/retail_db/orders" !